<!DOCTYPE html>
<html lang="en">

<head>
  <title>Power Prediction</title>
  <meta content="text/html; charset=utf-8" />
</head>

<body>
  <h1>Power Generation</h1>
  <p>
    Enter Wind_Speed for prediction.
  </p>
  <form action="/" method="post">
    <label for="speed">Wind Speed: </label>
    <br>
    <input type="number" id="speed" name="speed">
    <br><br>
    <input type="submit" value="Submit" name="Submit">

    <input name = "display"  type="text" placeholder="Your power output is {{output}}" readonly>
  </form>
  
</body>
</html>